.jumbotronCustom {
    width: 100%;
    max-width: 100%;
    margin-top: -40px;
    height: auto;
}

.corporateText {
    text-align: left;
}

.corporateTitle {
    text-align: center;
    letter-spacing: 3px;
    color: #06283D;
    text-transform: uppercase;
    font-size: 75px;
}

.mainTextBank {
    font: normal normal normal 18px/40px montserratRegular;
    text-align: left!important;
    letter-spacing: 0.72px;
}

.montserratSemiBold {
    font-family: montserratSemiBold;
}

.montserratRegular {
    font-family: montserratRegular !important;
}

.container-text {
    max-width: 1020px;
    text-align: left;
}

.centerDiv {
    margin: auto;
}
