<app-navbar></app-navbar>

<div class="jumbotron jumbotron-fluid jumbotronCustom">
    <video class="responsiveVideo" width="320" height="240" loop autoplay>
    <source src="\assets\services\bank-account\AAA+ Banner - Bank Account Opening.mp4" type="video/mp4">
    </video>
</div>

<div class="container pt-5 pb-5">
    <h1 class="mainTitleBlack py-5"> Bank Account <br> Opening</h1>
    <p class="mainTextBank container-text centerDiv">Most entities need a bank account; we can help you in the process of opening a bank account depending on your particular needs. We work with several banks in different jurisdictions, some banks specialize in commercial activities while others cater
        towards wealth management. Regardless of what you seek, we can provide the right solution. Our reputable and long standing relationships with these financial institutions ensure a smooth onboarding process. Most of these financial institutions
        can open accounts remotely, making it easier and efficient.
</div>



<div class="py-5">
    <app-explore-our-services></app-explore-our-services>
</div>

<div class="py-5">
    <app-mini-contact-us></app-mini-contact-us>
</div>

<div class="py-5">
    <app-footer></app-footer>
</div>
