<app-navbar></app-navbar>
<div class="jumbotron jumbotron-fluid jumbotron-custom">
    <video class="responsiveVideo" width="320" height="240" loop autoplay>
    <source src="\assets\services\corporate\AAA+ Banner - Corporate Offshore 01.mp4" type="video/mp4">
    </video>
</div>

<div class="container">
    <h1 class="mainTitleBlack py-5">Corporate <br> Offshore Planning</h1>
    <p class="corporateText container-text customT centerDiv">AAA+ Wealth Management Advisors offers incorporation services in many jurisdictions. Our aim is to design a robust corporate structure that helps you achieve your goals through personalized, efficient and outstanding service. In addition, we make
        sure our clients’ information remains confidential while ensuring that it complies with current regulations.<br><br> We have assisted entrepreneurs, companies and families from all over the world in designing the most appropriate offshore structure
        to expand their business, protect their assets and start new ventures, taking into consideration: confidentiality, legal protection, place of residency, among others.<br><br> AAA+ establishes these structures through partnerships with internationally
        recognized law firms and fiduciaries. These partners are experts in the field with many years of experience, providing you with the tranquility and support you deserve.</p>
</div>

<br><br><br><br>
<div class="row py-5 customT customB">
    <div class="col-12 col-md-6"><img class="manImg" src="\assets\services\corporate\two-businesspeople-discussing-.png" alt=""></div>

    <div class="col-12 col-md-6 py-4">
        <h1 class="titleTeam"><br> Company Formation & Administration</h1> <br> <br>
        <p class="textTeam container-text1">Depending on your needs, we offer company formation and administration in more than 15 jurisdictions. We offer competitive pricing, fast processing times and the corresponding advice on where the company should be incorporated depending on what
            you’re trying to achieve.</p>
    </div>

</div>
<div class="jumbotron jumbotron-fluid jumbotron-grey py-5">
    <div class="row">
        <div class="col-12 col-md-6 container-text2 container-mobile">
            <h1 class="titleTeam"><br><br> Private Interest Foundation / <br> Trust Formation & Administration</h1> <br> <br>

            <p class="textTeam">
                If you are seeking efficient succession planning and wealth management structures we can assist in the incorporation of a Private Interest Foundation / Trust in various jurisdictions. These types of vehicles are part of a multi-entity structure which
                provide the outmost protection for an enduring legacy while keeping the founders and settlors wishes for coming generations.
                <br> <br> We can assess on what type of structure is best for each family or individual, taking into account country of citizenship, country of residence, family and operational needs, assets to be protected and jurisdictions where these
                are located, among others.
            </p>
        </div>

        <div class="col-12 col-md-6 containerManImg2"><img class="manImg" src="\assets\services\corporate\man-working-at-night.png" alt=""></div>
    </div>

</div>

<div class="jumbotron jumbotron-fluid py-5">
    <div class="row py-5">
        <div class="col-12 col-md-6"><img class="manImg" src="\assets\services\corporate\team-work-process-young-busine@2x.png" alt=""></div>
        <div class="col-12 col-md-6 py-3 px-5">
            <h1 class="titleTeam"> <br> <br> <br> Professional Nominee Services</h1> <br> <br>
            <p class="textTeam container-text1">
                If needed, we can provide you with nominee professional director, councilor, protector and shareholder services for all type of entities. These services provide greater level of security and animosity for your protection while ensuring that your assets
                are held in the most trustworthy manner.
            </p>
        </div>

    </div>

</div>

<div class="py-5">
    <app-explore-our-services></app-explore-our-services>
</div>

<div class="py-5">
    <app-mini-contact-us></app-mini-contact-us>
</div>

<div class="py-5">
    <app-footer></app-footer>
</div>
