<app-navbar></app-navbar>

<div class="jumbotron jumbotron-fluid jumbotron-custom">
    <video class="responsiveVideo" width="320" height="240" loop autoplay>
    <source src="\assets\services\main\AAA+ Banner - Services 01.mp4" type="video/mp4">
    </video>
</div>



<h1 class="mainTitle py-5 customB">What to expect?</h1>


<div class="row pt-5 customT">
    <div class="col-12 col-sm-6 d-none d-sm-none d-md-block">
        <img class="imgStyle" src="\assets\services\main\two-young-businessman-having-s.png" alt="">
    </div>

    <div class="col-12 col-sm-6">
        <ul type="A" class="textList container-text py-5">
            <li>One-stop-shop solutions for every individual, family and corporations.</li>
            <li>Personalized, efficient and outstanding service.</li>
            <li>Competitive pricing.</li>
            <li>The strictest confidentiality</li>
            <li>Great returns and investment opportunities.</li>
            <li>Safety and protection for your assets and loved ones.</li>
        </ul>

        <p class="textUnderList container-text centerDiv">
            AAA+ is here to help you. Our highly qualified professional staff will guide you with wealth management strategies to accomplish your financial goals. <br><br> Through specialized and custom-made structures, you can achieve your goals and
            protect what you worked so hard to obtain.
        </p>
    </div>
</div>

<div class="py-5"></div>

<app-explore-our-services></app-explore-our-services>

<div class="py-1"></div>


<div class="py-2">
    <app-mini-contact-us></app-mini-contact-us>
</div>

<div class="py-5">
    <app-footer></app-footer>
</div>
