<!-- NAVBAR FINAL -->

<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0  dual-collapse2" id="navbarSupportedContent">
        <ul class="navbar-nav toLeft mr-auto">
            <li class="nav-item nav-item-point px-5">
                <a class="nav-link" routerLinkActive="active" routerLink="/home" href="#">Home</a>
            </li>

            <li class="nav-item nav-item-point px-5">
                <a class="nav-link" routerLinkActive="active" routerLink="/about-us" href="//codeply.com">about us</a>
            </li>

            <li class="nav-item  px-5 dropdown">
                <a class="nav-link nav-item-point dropdown-toggle" routerLink="/services" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" data-hover="dropdown" aria-expanded="false">
    Services
  </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item py-2" routerLink="/services/corporate" routerLinkActive="activeDrop" href="#">Corporate offshore planning</a></li>
                    <li><a class="dropdown-item py-2" routerLink="/services/bank" routerLinkActive="activeDrop" href="#">Bank Account Opening</a></li>
                    <li><a class="dropdown-item py-2" routerLink="/services/account-&-auditing" routerLinkActive="activeDrop" href="#">Accounting/Auditing</a></li>
                    <li><a class="dropdown-item py-2" routerLink="/services/wealth-management" routerLinkActive="activeDrop" href="#">Wealth Management  And Investments</a></li>
                    <li><a class="dropdown-item py-2" routerLink="/services/finance" routerLinkActive="activeDrop" href="#">Finance</a></li>
                    <li><a class="dropdown-item py-2" routerLink="/services/legal-advice" routerLinkActive="activeDrop" href="#">Legal Advice & Tax Planning</a></li>
                </ul>
            </li>


        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">
            <img src="\assets\LOGO AAA+.svg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse  collapse w-100 order-3  dual-collapse2">
        <ul class="navbar-nav  toRight ml-auto">
            <li class="nav-item nav-item-point px-5">
                <a class="nav-link lineHeight" routerLink="/real-state-investment" routerLinkActive="active" href="#">real estate <br><br> investment</a>
            </li>
            <li class="nav-item nav-item-point px-5 py-2">
                <a class="nav-link" routerLink="/contact-us" routerLinkActive="active" href="#">contact us</a>
            </li>
            <li class="nav-item px-5">
                <a class="nav-link" href="#"></a>
            </li>
        </ul>
    </div>
</nav> -->



<!-- NAVBAR TEST -->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary flex-sm-nowrap flex-wrap">
    <div class="container-fluid">

        <div class="me-auto order-0">
            <button class="navbar-toggler flex-grow-sm-1 flex-grow-0 me-2" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
          <span class="navbar-toggler-icon"></span>
      </button>
        </div>


        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav me-auto">

                <li class="nav-item nav-item-point px-5">
                    <a class="nav-link" routerLinkActive="active" routerLink="/home" href="#">Home</a>
                </li>

                <li class="nav-item nav-item-point px-5">
                    <a class="nav-link" routerLinkActive="active" routerLink="/about-us">about us</a>
                </li>

                <li class="nav-item  px-5 dropdown">
                    <a class="nav-link nav-item-point dropdown-toggle" routerLink="/services" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" data-hover="dropdown" aria-expanded="false">
                      Services
                   </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item py-2" routerLink="/services/corporate" routerLinkActive="activeDrop" href="#">Corporate offshore planning</a></li>
                        <li><a class="dropdown-item py-2" routerLink="/services/bank" routerLinkActive="activeDrop" href="#">Bank Account Opening</a></li>
                        <li><a class="dropdown-item py-2" routerLink="/services/account-&-auditing" routerLinkActive="activeDrop" href="#">Accounting/Auditing</a></li>
                        <li><a class="dropdown-item py-2" routerLink="/services/wealth-management" routerLinkActive="activeDrop" href="#">Wealth Management  And Investments</a></li>
                        <li><a class="dropdown-item py-2" routerLink="/services/finance" routerLinkActive="activeDrop" href="#">Finance</a></li>
                        <li><a class="dropdown-item py-2" routerLink="/services/legal-advice" routerLinkActive="activeDrop" href="#">Legal Advice & Tax Planning</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <a class="abs navbar-brand" href="#"><img src="\assets\LOGO AAA+.svg" alt=""></a>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item nav-item-point px-5">
                    <a class="nav-link lineHeight" routerLink="/real-state-investment" routerLinkActive="active" href="#">real estate <br><br> investment</a>
                </li>
                <li class="nav-item nav-item-point px-5 py-2">
                    <a class="nav-link" routerLink="/contact-us" routerLinkActive="active" href="#">contact us</a>
                </li>
                <li class="nav-item px-5">
                    <a class="nav-link" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
