<div class="jumbotron jumbotron-fluid jumbotron-grey text-uppercase centerContent">
    <br>
    <div class="row py-5">
        <h1 class="exploreTitle  py-2 pb-5">Explore our services</h1>

        <div class="py-4"></div>

        <div (click)="goTo('/services/corporate')" class="col hand py-2">
            <div class="svgBox">
                <img class="svgIcon" src="\assets\services\corporate\svg\HLM Artboard 23.svg" alt="">
                <p class="pt-3">Corporate offshore Planning</p>
            </div>
        </div>

        <div (click)="goTo('/services/bank')" class="col hand py-2">
            <div class="svgBox">
                <img class="svgIcon" src="\assets\services\corporate\svg\HLM Artboard 24.svg" alt="">
                <p class="pt-3">Bank account opening</p>
            </div>
        </div>

        <div (click)="goTo('/services/account-&-auditing')" class="col hand py-2">
            <div class="svgBox">
                <img class="svgIcon" src="\assets\services\corporate\svg\HLM Artboard 25.svg" alt="">
                <p class="pt-3">Accounting / Auditing</p>
            </div>
        </div>

        <div (click)="goTo('/services/wealth-management')" class="col hand py-2">
            <div class="svgBox">
                <img class="svgIcon" src="\assets\services\corporate\svg\HLM Artboard 26.svg" alt="">
                <p class="pt-3">Wealth management</p>

            </div>
        </div>

        <div (click)="goTo('/services/finance')" class="col hand py-2">
            <div class="svgBox">
                <img class="svgIcon" src="\assets\services\corporate\svg\HLM Artboard 27.svg" alt="">
                <p class="pt-3">Finance</p>

            </div>
        </div>

        <div (click)="goTo('/services/legal-advice')" class="col hand py-2">
            <div class="svgBox">
                <img class="svgIcon" src="\assets\services\corporate\svg\HLM Artboard 28.svg" alt="">
                <p class="pt-3">Legal advice & Tax planning</p>
            </div>
        </div>

    </div>
    <br><br><br><br>
</div>
