<app-navbar></app-navbar>

<div class="jumbotron jumbotron-fluid jumbotron-custom">
    <video class="responsiveVideo" loop autoplay>
      <source class="" src="\assets\home\AAA+ Banner - Home.mp4" type="video/mp4">
    </video>
</div>


<div class="container pt-5 customT">

    <h1 class="mainTitleBlack pt-5">Welcome to AAA+</h1>
    <h3 class="mainSubTitle">“Protecting and creating wealth for our clients since 2010”</h3>
    <div class="pt-5 d-none d-sm-block"></div>
    <div class="pt-5 d-none d-sm-block"></div>
    <div class="pt-5 d-none d-sm-block"></div>

    <div class="row pt-5">
        <div class="col-12 col-md-6 pt-5">

            <h3 class="weOperateGlobalyText pb-3">We operate Globaly</h3>

            <div class="container-text">
                <h4 class="subText py-4">
                    In an uncertain, challenging and continuously changing world, efficient ways must be found to run your business successfully and protect your assets effectively.
                </h4>
            </div>
            <br><br>

            <div class="col containerNumbers">
                <div style="text-align: center;" class="row">
                    <div class="col">
                        <p class="numberText">59</p>
                        <p class="underNumberText pt-4">Countries</p>
                    </div>
                    <div class="col">
                        <p class="numberText">500+</p>
                        <p class="underNumberText pt-4">Worldwide <br> clients</p>
                    </div>

                    <div class="col">
                        <p class="numberText">11+</p>
                        <p class="underNumberText pt-4">Years Operating</p>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>



        </div>

        <div class="col-12 col-md-6" style="text-align: right;">
            <img class="worldStyle" src="\assets\home\AAA+-mapa-mundi.gif" alt="">
            <!-- <video class="responsiveVideoWorld" loop autoplay>
                    <source class="" src="\assets\home\mapa mundi.mov" type="video/quicktime">
                  </video> -->
        </div>
    </div>

    <br><br><br><br>
    <br><br><br><br>
    <div class="card card-container d-flex-z">

        <div class="d-flex">
            <div class="container-text-card">
                <p class="textCard">
                    AAA+ provides guidance in the formation of international corporate structures and the corresponding financial and legal complements necessary for optimum performance. These structures and complements offer benefits such as: anonymity, confidentiality,
                    asset protection, efficient wealth management, estate planning, fiscal optimization, among others.

                </p>
            </div>

            <img src="\assets\home\cropped-view-of-man-extending-.png" alt="">
        </div>
    </div>
</div>

<br><br><br><br>
<br><br><br><br>
<br><br><br><br>

<div class="jumbotron jumbotron-fluid jumbotron-grey pt-5">

    <h1 class="titleMiniCards pb-5">AAA+ provides solutions <br> to the following customers</h1>

    <div class="container pt-5">
        <div class="row d-flex-z ">
            <div class="col d-flex">
                <div class="card mini-card-container">
                    <div class="row">

                        <div class="container-img-mini-card ">
                            <img class="imgMiniCard " src="\assets\home\svg\HLM Artboard 9.svg" alt="">
                        </div>


                        <div class="container-mini-card-text">
                            <br><br>
                            <p class="text-mini-card1">
                                Companies involved in foreign trade (importers / exporters and international brokers) that can become more efficient by using international corporate structures.
                            </p>


                        </div>


                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col d-flex">
                    <div class="card mini-card-container">
                        <div class="row">

                            <div class="container-img-mini-card ">
                                <img class="imgMiniCard " src="\assets\home\svg\HLM Artboard 10.svg" alt="">
                            </div>


                            <div class="container-mini-card-text">
                                <br><br>
                                <p class="text-mini-card">
                                    Companies or individuals who want to restructure their local and international operations with a high level of security, confidentiality and efficiency.
                                </p>


                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col d-flex">
                    <div class="card mini-card-container">
                        <div class="row">

                            <div class="container-img-mini-card ">
                                <img class="imgMiniCard " src="\assets\home\svg\HLM Artboard 11.svg" alt="">
                            </div>


                            <div class="container-mini-card-text">
                                <br><br>
                                <p class="text-mini-card">
                                    Families seeking advice on asset management and protection as well as efficient succession planning through generations.
                                </p>


                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pb-5"></div>
    <div class="pb-5"></div>
    <div class="pb-5"></div>

</div>

<div class="">
    <app-explore-our-services></app-explore-our-services>
</div>

<div class="py-5">
    <app-mini-contact-us></app-mini-contact-us>
</div>

<div class="py-5">
    <app-footer></app-footer>
</div>
