<app-navbar></app-navbar>

<div class="jumbotron jumbotron-fluid jumbotron-custom pb-5">
    <video class="responsiveVideo" width="320" height="240" loop autoplay>
  <source src="\assets\services\Real states\AAA+ Banner - Real Estate 01.mp4" type="video/mp4">
  </video>
</div>


<h1 class="mainTitleBlack pt-5">real estate investment</h1>
<div class="container-main ">

    <h3 class="mainSubTitleReal">“Real estate investing, even on a very small scale, remains a tried-and-true means of building an individual’s cash flow and wealth.”</h3> <br> <br> <br>
    <p class="corporateText  container-text centerDiv">Due to the needs and requests from clients, we have set up a Real Estate Investment division that provides real estate development services, primarily in South Florida. <br> <br> AAA+ makes the process easy for you in order to take part of these opportunities.
        AAA+ manages the process from the beginning: setting up the company, finding a great property to develop, getting the plans and permits, construction, sale and taxes; this way you don’t have to worry about a thing. Investing in these projects
        has provided many clients with great returns and diversification while holding part of their estate in secure assets such as a property in USA. <br><br> For more information please visit www.focusdevelopmentusa.com <br> <br>
        <h2 class="container-text centerDiv projectsText">PROJECTS</h2>
</div>

<div class="jumbotron jumbotron-fluid py-5">
    <div class="row py-5 ">
        <div class="col-6"><img class="manImg" src="\assets\services\Real states\ID03-Fachada-scaled.png" alt=""></div>
        <div class="col-6 py-3 px-5 d-flex centerDiv salign-items-center">
            <p class="textTeam centerDiv align-Left  py-5">
                2933 SW 21st Ter, Miami, FL, 33145
            </p>
        </div>

    </div>

</div>
<div class="jumbotron jumbotron-fluid jumbotron-grey py-5">
    <div class="row ">
        <div class="col-6 py-3 px-5 d-flex centerDiv align-items-center">

            <p class=" textTeam centerDiv align-Left">
                3660 SW 12th Street, Miami, FL, 33135
            </p>


        </div>
        <div class="col-6"><img class="manImg" src="\assets\services\Real states\ID1-Fachada-1-scaled.png" alt=""></div>
    </div>

</div>

<div class="jumbotron jumbotron-fluid py-5">
    <div class="row py-5 ">
        <div class="col-6"><img class="manImg" src="\assets\services\Real states\ID02-FP-scaled (1).png" alt=""></div>
        <div class="col-6 centerDiv py-3 px-5 d-flex align-items-center">
            <p class="textTeam centerDiv align-Left py-5 ">
                10603 NE 11 ave, Miami Shores, FL, 33138
            </p>
        </div>

    </div>

</div>

<div class="py-5 ">
    <app-explore-our-services></app-explore-our-services>
</div>

<div class="py-5">
    <app-mini-contact-us></app-mini-contact-us>
</div>

<div class="py-5">
    <app-footer></app-footer>
</div>
