.corporateText {
    text-align: left;
    font: normal normal normal 18px/40px montserratRegular;
    letter-spacing: 0.72px;
}

.textTeam {
    text-align: left;
    font: normal normal normal 30px/35px montserratSemiBold;
    letter-spacing: 1.2px;
}

.jumbotron-grey .row .col p {
    text-align: left;
    font: normal normal normal 18px/35px Montserrat;
    letter-spacing: 0.72px;
}

.jumbotron-grey {
    background-color: #E4E4E4;
}

.jumbotron-video {
    background-color: #06283D;
    text-align: center;
}

.fontMontserrat-SemiBold {
    font-family: montserratSemiBold !important;
}

.fontMontserratMedium {
    font-family: montserratMedium !important;
}

.container-main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container-text {
    max-width: 850px;
}

.centerDiv {
    margin: auto;
}

.projectsText {
    margin-left: auto;
    margin-right: auto;
}

.align-Left {
    text-align: center !important;
}

.manImg {
    max-width: 100%;
}

.mainSubTitleReal {
    text-align: center;
    font: italic normal medium 25px/25px montserratMedium;
    letter-spacing: 1px;
    color: #06283D;
    opacity: 1;
}
