<app-navbar></app-navbar>
<div class="jumbotron jumbotron-fluid jumbotron-custom">
    <video class="responsiveVideo" loop autoplay>
        <source class="" src="\assets\services\accountingAndAuditing\AAA+ Banner - Accounting Auditing.mp4" type="video/mp4">
      </video>
</div>
<br>
<div class="container pt-5 pb-5">
    <h1 class="mainTitleBlack py-5">Accounting<br> & Auditing</h1>
    <div class="container-text centerDiv">
        <p class="mainTextAccounting">As the world evolves towards a more regulated and transparent place it is extremely important to meet local and international tax regulations or any other requirement. This is why AAA+ works hand in hand with some of the most prestigious institutions
            around the world making sure you comply while offering great service and competitive pricing.</p>
    </div>
</div>

<br> <br> <br><br>

<!-- <div class="jumbotron jumbotron-fluid jumbotron-video py-5">
    <video class="video" loop autoplay>
    <source src="\assets\services\About us\AAA+ Banner - About Us 01.mp4" type="video/mp4">
    </video>

</div> -->


<div class=" pb-5">
    <app-explore-our-services class="pt-5"> </app-explore-our-services>
</div>

<div class="pt-5 pb-5">
    <app-mini-contact-us></app-mini-contact-us>
</div>

<div class="pt-5">
    <app-footer></app-footer>
</div>
