.jumbotron-video {
    background-color: #06283D;
    text-align: center;
}

.mainTextAccounting {
    font: normal normal normal 18px/40px montserratRegular;
    letter-spacing: 0.72px;
    text-align: left;
}
