<app-navbar></app-navbar>

<div class="jumbotron jumbotron-fluid jumbotron-custom">
    <video class="responsiveVideo" width="320" height="240" loop autoplay>
    <source src="\assets\services\About us\AAA+ Banner - About Us 01.mp4" type="video/mp4">
    </video>
</div>

<div class="container pt-5 pb-1">

    <h1 class="corporateTitle fontMontserrat-SemiBold">About Us</h1>
    <div class="containerHeader">
        <h3 class="corporateSubtitle fontMontserratMedium">Protecting and creating wealth for our clients</h3>
    </div>



    <br>

    <div class="container-text centerDiv">
        <p class="corporateText py-5">Founded in 2010 AAA+ Wealth Management Advisors is an independent firm serving high net worth families, corporations and entrepreneurs from all over the world. AAA+ provides you with essential guidance and advice for the current complexities we
            live in, to strive in a more competitive and regulated world. <br> <br> For family-owned businesses, AAA+ provides the necessary wealth management and estate planning solutions to protect family members and their assets. In addition, we look
            for opportunities to make companies grow more efficiently. <br> <br> Our guidance process starts with you; we focus on your life long success and hard work and remain committed in helping you achieve your financial goals. <br> <br> At AAA+
            we design a tailor-made plan that evolves as the world changes, helping you stay efficient, while at the same time being able to balance the needs of your family and business.
        </p>
    </div>

</div>
<!-- <div class="jumbotron jumbotron-fluid jumbotron-video py-5">
    <video class="video" loop autoplay>
      <source src="\assets\services\About us\AAA+ Banner - About Us 01.mp4" type="video/mp4">
      </video>
</div> -->

<!-- <br> <br> <br> -->

<div class="pt-2 pb-5">
    <app-mini-contact-us></app-mini-contact-us>
</div>

<div class="pt-5">
    <app-footer></app-footer>
</div>