<app-navbar></app-navbar>
<div class="jumbotron jumbotron-fluid jumbotronCustom">
    <div>
        <img class="responsiveImg" src="\assets\services\contact-us\close-up-of-male-hands-using-l.png" alt=" ">
    </div>
</div>

<div class="container-text">
    <h1 class="titleContactUs"> <br> <br> <br> CONTACT US</h1> <br> <br>
</div>

<div class="jumbotron jumbotron-fluid py-5">
    <div class="row py-5">
        <div class="col-6"><img class="manImg" src="\assets\services\contact-us\pexels-andrea-piacquadio-84545.png" alt=""></div>
        <div class="col-6 py-3 px-5 d-flex align-items-center containerUnderImage">
            <p class="textUnderImage"> Thank you for your interest in AAA+, our team is built up of experts in the formation, administration and management of various corporate, financial and legal structures, focusing on your needs and providing the best advice and offering a
                quality service and/or product. <br> <br> Your questions, comments and suggestions are very important to us. With your help, we will continue to provide our customers the satisfaction they deserve.
            </p>
        </div>

    </div>
    <div class="jumbotron jumbotron-fluid containerContact py-5 ">

        <div class="container-contact-us">
            <h1 class="titleInputsContact">Contact Us</h1>
            <div class="row ">
                <div class="col-12 py-4 ">
                    <p class="titleInput">Name</p>
                    <input type="text " class="form-control inputheight withoutBorder " id="inputAddress ">
                </div>
                <div class="col-12 py-4 ">
                    <p class="titleInput ">E-mail</p>
                    <input type="text " class="form-control inputheight withoutBorder " id="inputAddress ">
                </div>
                <div class="col-12 py-4 ">
                    <p class="titleInput ">Subject</p>
                    <input type="text " class="form-control inputheight withoutBorder " id="inputAddress ">
                </div>
                <div class="col-12 py-4 ">
                    <p class="titleInput ">Message</p>
                    <!-- <input placeholder="Message " type="text " class=" "> -->
                    <textarea type="text " class="form-control textareaStyle " id="inputAddress "></textarea>
                </div>
            </div>
            <div class="centerButton py-5">
                <button type="button" class="btn btn-outline alignCenter ">Send</button>
            </div>
        </div>


    </div>

    <div class="pt-5 ">
        <app-footer></app-footer>
    </div>
