.svgText {
    width: 187px;
    height: 163px;
}

.jumbotron-video {
    background-color: #06283D;
    text-align: center;
}

.video {
    top: 1676px;
    left: 467px;
    width: 966px;
    height: 554px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-align: center;
}

.montserratSemiBold {
    font-family: montserratSemiBold;
}

.montserratRegular {
    font-family: montserratRegular !important;
}

.container-text-finance {
    max-width: 808px;
    text-align: left;
}

.mainTitleFinance {
    text-align: left;
    letter-spacing: 3px;
    letter-spacing: 25px;
    color: #06283D;
    text-transform: uppercase;
    opacity: 1;
    font-family: montserratSemiBold;
    text-align: center;
    font-style: 75px;
}

.mainTextFinance {
    font: normal normal normal 18px/40px montserratRegular;
    text-align: left;
    letter-spacing: 0.72px
}

.centerDiv {
    margin: auto;
}

.container-content {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.svgImage {
    width: 187px;
    height: 163px;
}
