<app-navbar></app-navbar>

<div class="jumbotron jumbotron-fluid jumbotron-custom">
    <video class="responsiveVideo" width="320" height="240" loop autoplay>
    <source src="\assets\services\finances\AAA+ Banner - Finance.mp4" type="video/mp4">
    </video>
</div>

<div class="container-content pb-5">
    <h1 class="mainTitleFinance py-5">Finance</h1>
    <div class="row d-flex-z">
        <div class="col-3 d-flex align-items-center">
            <div class="col svgText"><img class="svgImage" src="\assets\services\finances\svg\HLM Artboard 34.svg" alt=""> </div>

        </div>

        <div class="col mr-auto">
            <p class="mainTextFinance container-text-finance centerDiv">
                With more than 10 years of experience we understand the needs of company growth and missed growth opportunities due to lack of financing. Through third party companies we can fuel your company’s growth by providing factoring services, advances on trade
                receivables, collections services, Lombard loans, back to back loans, margin accounts, among others. With AAA+ you will never miss a business opportunity again.
            </p>
        </div>
    </div>

</div>

<br>
<!-- <div class="jumbotron jumbotron-fluid jumbotron-video py-5">
    <video class="video" loop autoplay>
    <source src="\assets\services\About us\AAA+ Banner - About Us 01.mp4" type="video/mp4">
    </video>
</div> -->



<div class="pb-5">
    <app-explore-our-services></app-explore-our-services>
</div>

<div class="py-5">
    <app-mini-contact-us></app-mini-contact-us>
</div>

<div class="py-5">
    <app-footer></app-footer>
</div>
