.jumbotron-footer {
    background-color: #06283D;
    max-width: 100%;
    border-radius: 45px 45px 0px 0px;
    padding-bottom: 0!important;
    margin-bottom: 0!important;
}

.text-jumbotron {
    text-align: center;
    font: normal normal 400 18px/26px montserratSemiBold;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    opacity: 1;
    max-width: 1020px;
    text-align: center;
    margin: auto;
}

.svgAdjust {
    max-width: 45px;
    max-height: 45px;
}

.svgFont {
    color: white;
    margin-top: 1rem;
}

.container-icons {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: montserratSemiBold;
}

.textFinal {
    color: #FFFFFF;
    font-family: 16px regular montserratSemiBold;
    padding-right: 0;
}

.disclaimerText {
    text-align: center;
    text-decoration: underline;
    font: normal normal 400 14px/26px montserratMedium;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 0.8;
    padding-left: 10px;
}

.cookiePolicyText {
    text-decoration: underline;
    font: normal normal 400 14px/26px montserratMedium;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.8;
    padding-left: 10px;
    padding-bottom: 0;
}
