<!-- Solo visible en escritorio -->
<div class="jumbotron jumbotron-fluid jumbotron-footer d-none d-sm-none d-md-block">

    <div class="text-jumbotron py-5">
        <p>
            Thank you for your interest in AAA+, our team of experts are eager to assist you and provide the best advice. Your questions, comments and suggestions are very important to us. With your help, we will continue to provide our clients with the satisfaction
            they deserve.
        </p>
    </div>


    <div class="row d-flex-z container-icons">

        <div class="col-12 col-sm-4 d-flex align-items-center sub-container-icons">
            <img class="svgAdjust" src="\assets\footer\HLM Artboard 29.svg" alt="">
            <p class="svgFont p-4">+ 1 (305) 420 5768</p>
        </div>

        <div class="col-12 col-sm-4 d-flex align-items-center sub-container-icons">
            <img class="svgAdjust" src="\assets\footer\HLM Artboard 30.svg" alt="">
            <p class="svgFont p-4 ">777 BRICKELLL AVE SUITE 500 MIAMI FL, 33131</p>
        </div>

        <div class="col-12 col-sm-4 d-flex align-items-center sub-container-icons">
            <img class="svgAdjust" src="\assets\footer\HLM Artboard 31.svg" alt="">
            <p class="svgFont p-4">INFO@TRIPLEAAAPLUS.COM</p>
        </div>
    </div>
    <br><br><br><br>

    <a routerLink="/cookie-policy" class="cookiePolicyText pt-5" style="color: white;">Cookie policy</a>

    <div class="d-flex align-items-center">
        <a class="disclaimerText">Disclaimer</a>
        <div class="m-auto">
            <p class="textFinal">©AAA+ ALL RIGHTS RESERVED | DESIGN & DEVELOP BY HUMAN BRANDS</p>

        </div>

        <!-- <p class="textFinal pt-5 ">©AAA+ ALL RIGHTS RESERVED | DESIGN & DEVELOP BY HUMAN BRANDS</p> -->
    </div>
</div>


<!-- Solo visible en movil -->
<div class="jumbotron jumbotron-fluid jumbotron-footer d-sm-block d-md-none">

    <div class="text-jumbotron py-5">
        <p>
            Thank you for your interest in AAA+, our team of experts are eager to assist you and provide the best advice. Your questions, comments and suggestions are very important to us. With your help, we will continue to provide our clients with the satisfaction
            they deserve.
        </p>
    </div>


    <div class="row d-flex-z container-icons">

        <div class="col-12 col-sm-4 d-flex align-items-center sub-container-icons">
            <img class="svgAdjust" src="\assets\footer\HLM Artboard 29.svg" alt="">
            <p class="svgFont px-4">+ 1 (305) 420 5768</p>
        </div>

        <div class="col-12 col-sm-4 d-flex align-items-center sub-container-icons">
            <img class="svgAdjust" src="\assets\footer\HLM Artboard 30.svg" alt="">
            <p class="svgFont px-4">777 BRICKELLL AVE SUITE 500 MIAMI FL, 33131</p>
        </div>

        <div class="col-12 col-sm-4 d-flex align-items-center sub-container-icons">
            <img class="svgAdjust" src="\assets\footer\HLM Artboard 31.svg" alt="">
            <p class="svgFont px-4">INFO@TRIPLEAAAPLUS.COM</p>
        </div>
    </div>

    <br>


    <div class="row mobile-container">
        <div class="col" style="text-align: center;">
            <a routerLink="/cookie-policy" class="cookiePolicyText pt-5" style="color: white;">Cookie policy</a>

        </div>

        <div class="col" style="text-align: center;">
            <a class="disclaimerText">Disclaimer</a>
        </div>
    </div>

    <br><br>

    <div class="d-flex align-items-center">
        <div class="m-auto mobile-container">
            <p class="textFinal">©AAA+ ALL RIGHTS RESERVED | DESIGN & DEVELOP BY HUMAN BRANDS</p>

        </div>

    </div>
</div>